@model TPP_MainProject.Models.entities.Project

@{
    ViewBag.Title = "Confrim";
}

<h2>Confrim</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nameProjectManager, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.nameProjectManager, new SelectList(ViewBag.pm, "UserName", "UserName"), "")
                @Html.ValidationMessageFor(model => model.nameProjectManager)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.order.completeDate, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.order.completeDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.order.customer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.order.customer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.projectStatus, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.projectStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tasks, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.tasks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
