@model  PagedList.IPagedList<TPP_MainProject.Models.ViewModels.AdminUserViewModel>
@using PagedList.Mvc; 
@{
    ViewBag.Title = "Application Users";
}

<h2>Application Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "AdminUser", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" style="background:#0B610B; color:#fff;" />
    </p>
}
<table class="table">
    <tr>
        <th>
            
            @Html.ActionLink("User Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Email
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
           Organization
        </th>
        <th>
            City
        </th>
        <th>
            Country
        </th>
        <th>
            @Html.ActionLink("Role", "Index", new { sortOrder = ViewBag.RoleSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))