@model TPP_MainProject.Models.entities.ProductItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Order Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InternalImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.shortDescription)
        </dd>
         

    </dl>
</div>
<p>
   |
    @Html.ActionLink("Back to List", "Index")
</p>
